/* Root variables */
:root {
  --black: #000;
  --white: #ffff;
  --tan: #faedbc;
  --grey: #827777;
}

/* page and body */
* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

html,
body {
  font-size: 10px;
  font-family: tahoma;
}

/* header style */
header {
  border-top: 3px solid var(--grey);
  border-right: 3px solid var(--grey);
  border-left: 3px solid var(--grey);
  position: relative;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-size: 2.6rem;
  display: flex;
  color: var(--white);
  flex-direction: column;
  align-items: left;
  width: 100%;
  background-color: var(--tan);
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: lighter;
}

header nav {
  background-color: var(--grey);
  font-size: 2rem;
  width: 100%;
}

.navLinks {
  text-decoration: none;
  color: var(--white);
}

/* main style */
main {
  border-right: 3px solid var(--grey);
  border-left: 3px solid var(--grey);
  border-bottom: 3px solid var(--grey);
}

.aboutMe {
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutMe .text {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.8rem;
  width: 50%;
  justify-content: center;
  text-align: center;
}

.aboutMe .pp {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 50%;
  padding: 0px;
  justify-content: center;
}

.profilePicture {
  width: 250px;
  border: 3px solid var(--black);
  align-self: center;
}

/* footer style */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
