/* Root variables */
:root {
  --black: #000;
  --white: #ffff;
  --tan: #faedbc;
  --grey: #827777;
}

* {
  border: 0px;
  margin: 0px;
}

/* Element selectors */

html,
body {
  line-height: 1.2;
  min-height: 100vh;
  font-size: 10px;
  font-family: tahoma;
}

h1 {
  font-size: 46px;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* class selectors */
